<ion-view id="friend-chat" view-title="{{friendChat.friend.name}}">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon"
            ng-click="$ionicGoBack()"
            ontouchstart>
      <i class="fa fa-chevron-left fa-lg"></i>
    </button>
  </ion-nav-buttons>
  <ion-content delegate-handle="friendChat">
    <ion-list>
      <ion-item class="message-item" ng-repeat="message in friendChat.messages">
        <div class="text-message"
             ng-class="{mine: friendChat.isMyMessage(message)}">
          <!-- Text message -->
          <div class="text text-action"
               ng-if="friendChat.isTextMessage(message)"
               ng-bind-html="message.text | linky">
          </div>

          <!-- Invite action messages -->
          <div class="text invite-action"
               ng-if="friendChat.isInviteAction(message)"
               >Are you down for <span
               ><span>"{{message.meta.event.title}}</span><span
               ng-if="message.meta.event.place"
               > at {{message.meta.event.place.name}}</span><span ng-if="message.meta.event.datetime"> &mdash; {{message.meta.event.datetime | date:"EEE, MMM d 'at' h:mm a"}}</span>"</span>?</div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar class="bar-light new-message-bar" keyboard-attach>
    <textarea class="new-message"
              ng-model="friendChat.message"
              placeholder=" Type a message..."
              msd-elastic
              rows="1"
              ></textarea>
    <button class="button button-clear send-message"
            ng-disabled="!friendChat.message"
            ng-click="friendChat.sendMessage()"
            ontouchstart
            >Send</button>
  </ion-footer-bar>
</ion-view>
