#friend-chat {
  a {
    text-decoration: underline;
  }
  .invite-action {
    background-color: $brand-color;
    border-color: $brand-color;
    color: #fff;

    &::before {
      border-right-color: $brand-color;
    }
  }
  .text-action {
    a {
      color: #222;
    }
  }
  .mine {
    .invite-action {
      &::before {
        border-left-color: $brand-color;
        border-right-color: transparent;
      }
    }
    a {
      color: #fff;
    }
  }
}
