<ion-view id="friends" view-title="Friends" hide-back-button="true">
  <ion-nav-buttons side="left">
    <span class="points-nav"
          ng-click="friends.Points.showPopup()"
          ontouchstart
          >{{friends.currentUser.points | number:0}}</span>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item-avatar"
                ng-click="friends.showMyFriends()">
        <img ng-src="images/My_Friends.png">
        <h2>My friends</h2>
        <i class="fa fa-chevron-right"></i>
      </ion-item>
      <ion-item class="item-avatar"
                ng-click="friends.showAddedMe()">
        <img ng-src="images/Added_Me.png">
        <h2>Added Me</h2>
        <i class="fa fa-chevron-right"></i>
      </ion-item>
      <ion-item class="item-divider">
        Add Friends
      </ion-item>
      <ion-item class="item-avatar"
                ng-click="friends.addByUsername()">
        <img ng-src="images/Add_By_Username.png">
        <h2>Add by username</h2>
        <i class="fa fa-chevron-right"></i>
      </ion-item>
      <ion-item class="item-avatar"
                ng-click="friends.addFromAddressBook()">
        <img ng-src="images/Add_From_Address_Book.png">
        <h2>Add from address book</h2>
        <i class="fa fa-chevron-right"></i>
      </ion-item>
      <ion-item class="item-avatar"
                ng-click="friends.addFromFacebook()">
        <img ng-src="images/Add_From_Facebook.png">
        <h2>Add from Facebook</h2>
        <i class="fa fa-chevron-right"></i>
      </ion-item>
      <ion-item class="item-avatar"
                ng-click="friends.addByPhone()">
        <img ng-src="images/Add_By_Phone.png" alt="Facebook">
        <h2>Add by phone number</h2>
        <i class="fa fa-chevron-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
