<ion-view id="friends" view-title="Friends" hide-back-button="true">
  <ion-nav-buttons side="left">
    <span class="points-nav"
          ng-click="friends.Points.showPopup()"
          ontouchstart
          >{{friends.currentUser.points | number:0}}</span>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item-avatar"
                ng-click="friends.showMyFriends()">
        <img ng-src="images/My_Friends.png">
        <h2>My friends</h2>
        <i class="fa fa-chevron-right"></i>
      </ion-item>
      <ion-item class="item-avatar"
                ng-click="friends.showAddedMe()">
        <img ng-src="images/Added_Me.png">
        <h2>Added Me</h2>
        <i class="fa fa-chevron-right"></i>
      </ion-item>
      <ion-item class="item-avatar"
                ng-click="friends.showAddFriends()">
        <img ng-src="images/Add_Friends.png" alt="Add Friends">
        <h2>Add Friends</h2>
        <i class="fa fa-chevron-right"></i>
      </ion-item>
      <ion-item class="item-avatar"
                ng-if="friends.hasSharePlugin()"
                ng-click="friends.shareApp()">
        <img ng-src="images/Invite_Friends.png" alt="Invite Friends">
        <h2>Invite friends to Rallytap!</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
