<ion-view id="friends" view-title="Friends" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item"
            ng-click="friends.goBack()" ontouchstart
            ><i class="fa fa-chevron-left fa-lg"></i></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item-avatar"
                ng-click="friends.showMyFriends()">
        <img ng-src="images/My_Friends@3x.png" alt="My Friends">
        <h2>My friends</h2>
        <i class="fa fa-chevron-right"></i>
      </ion-item>
      <ion-item class="item-divider">
        Add Friends
      </ion-item>
      <ion-item class="item-avatar"
                ng-click="friends.addByUsername()">
        <img ng-src="images/Add_By_Username@3x.png" alt="Username">
        <h2>Add by username</h2>
        <i class="fa fa-chevron-right"></i>
      </ion-item>
      <ion-item class="item-avatar"
                ng-click="friends.addFromAddressBook()">
        <img ng-src="images/Add_From_Address_Book@3x.png" alt="Address Book">
        <h2>Add from address book</h2>
        <i class="fa fa-chevron-right"></i>
      </ion-item>
      <ion-item class="item-avatar"
                ng-click="friends.addFromFacebook()">
        <img ng-src="images/Add_From_Facebook@3x.png" alt="Facebook">
        <h2>Add from Facebook</h2>
        <i class="fa fa-chevron-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
