# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/

# vim
*.sw[op]

# build directory
www/

# test directory
tests/

# sublime
down-ionic.sublime-project
down-ionic.sublime-workspace

# mac
.DS_Store