<ion-view id="my-friends" view-title="My Friends">
  <ion-content>
    <div class="placeholder" ng-if="myFriends.items.length === 0">
      <div>You don't have any friends on Down yet...</div>
      <div>
        <button id="add-friends" class="button"
                ng-click="myFriends.addFriends()" ontouchstart
                >Add Friends</button>
      </div>
    </div>
    <ion-list class="list-avatar" ng-if="myFriends.items.length > 0">
      <ion-item collection-repeat="item in myFriends.items"
                ng-class="{'item-divider': item.isDivider, 'item-avatar': !item.isDivider, 'item-icon-right': !item.isDivider}"
                item-height="item.isDivider ? '36px' : '79px'">
        <!-- Divider -->
        <div ng-if="item.isDivider">
          {{item.title}}
        </div>

        <!-- User -->
        <div ng-if="item.friend && item.friend.username">
          <img class="item-image" ng-src="{{item.friend.getImageUrl()}}">
          <h2>{{item.friend.name}}</h2>
          <p>{{item.friend.username}}</p>
        </div>

        <!-- User Added Via SMS (no username, no picture) -->
        <div ng-if="item.friend && !item.friend.username">
          <span class="contact-image item-image">
            {{myFriends.getInitials(item.friend.name)}}
          </span>
          <h2>{{item.friend.name}}</h2>
          <p>Added Via SMS</p>
        </div>
      </ion-item>
    <ion-list>
  </ion-content>
</ion-view>
