#my-friends {
  .fa-plus {
    margin-left: 15px;
  }
  #add-friends {
    background-color: $positive;
    border-color: $positive;
    color: #fff;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
