#my-friends {
  .fa-plus {
    margin-left: 15px;
  }
  #add-friends {
    background-color: $brand-color;
    border-color: $brand-color;
    color: #fff;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
