<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="down.resources"
        version="0.7.0">

  <name>Resources</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <js-module name="jQuery" src="www/jquery-1.11.3.min.js"><runs/></js-module>
  <js-module name="intlTelInput" src="www/intlTelInput.min.js"><runs/></js-module>

  <js-module name="ionic" src="www/ionic.min.js"><runs/></js-module>
  <js-module name="angular" src="www/angular.min.js"><runs/></js-module>
  <js-module name="angular-animate" src="www/angular-animate.min.js"><runs/></js-module>
  <js-module name="angular-sanitize" src="www/angular-sanitize.min.js"><runs/></js-module>
  <js-module name="angular-ui-router" src="www/angular-ui-router.min.js"><runs/></js-module>
  <js-module name="ionic-angular" src="www/ionic-angular.min.js"><runs/></js-module>
  <js-module name="ng-cordova" src="www/ng-cordova.min.js"><runs/></js-module>

  <js-module name="Chart" src="www/Chart.min.js"><runs/></js-module>
  <js-module name="angular-chart" src="www/angular-chart.min.js"><runs/></js-module>
  
  <js-module name="meteor" src="www/meteor.min.js"><runs/></js-module>

  <platform name="ios">

    <!-- Deep linking url schemes -->
    <config-file target="*-Info.plist" parent="CFBundleURLTypes">
      <array>
          <dict>
              <key>CFBundleURLSchemes</key>
              <array>
                <!-- Production -->
                <!-- <string>down</string> -->
                <!-- <string>rallytap</string> -->

                <!-- Staging -->
                <string>down.dev</string>
                <string>rallytap.dev</string>
              </array>
          </dict>
      </array>
    </config-file>

    <!-- Request location prompt -->
    <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
      <string>Rallytap helps you do fun stuff with your nearby friends.</string>
    </config-file>

    <!-- Allow opening google maps -->
    <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
      <array>
        <string>comgooglemaps</string>
        <string>fb</string>
        <string>uber</string>
        <string>twitter</string>
        <string>pinterest</string>
        <string>instagram</string>
        <string>yelp</string>
        <string>vnd.youtube</string>
        <string>foursquare</string>
      </array>
    </config-file>

    <!-- Allow HTTP -->
    <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
      <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
      </dict>
    </config-file>

    <!-- Disable iPad multi-tasking -->  
    <config-file target="*-Info.plist" parent="UIRequiresFullScreen">
        <true/>
    </config-file>

  </platform>

</plugin>
