<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="down.resources"
        version="0.7.0">

  <name>Resources</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/ionic.min.js" target="resources/ionic.js" />
  <asset src="www/jquery-1.11.3.min.js" target="resources/jquery.js" />
  <asset src="www/angular.min.js" target="resources/angular.js"/>
  <asset src="www/angular-animate.min.js" target="resources/angular-animate.js"/>
  <asset src="www/angular-sanitize.min.js" target="resources/angular-sanitize.js"/>
  <asset src="www/angular-ui-router.min.js" target="resources/angular-ui-router.js"/>
  <asset src="www/ionic-angular.min.js" target="resources/ionic-angular.js" />
  <asset src="www/meteor.min.js" target="resources/meteor.js"/>
  <asset src="www/pouchdb-5.0.0.min.js" target="resources/pouchdb.js" />

  <platform name="ios">

    <!-- Deep linking url schemes -->
    <config-file target="*-Info.plist" parent="CFBundleURLTypes">
      <array>
          <dict>
              <key>CFBundleURLSchemes</key>
              <array>
                <!-- Production -->
                <!-- <string>down</string> -->
                <!-- <string>rallytap</string> -->

                <!-- Staging -->
                <string>down.dev</string>
                <string>rallytap.dev</string>
              </array>
          </dict>
      </array>
    </config-file>

    <!-- Request location prompt -->
    <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
      <string>RallyTap makes it easy to do fun stuff with your nearby friends.</string>
    </config-file>

    <!-- Allow opening google maps -->
    <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
      <array>
        <string>comgooglemaps</string>
        <string>fb</string>
        <string>uber</string>
        <string>twitter</string>
        <string>pinterest</string>
        <string>instagram</string>
        <string>yelp</string>
        <string>vnd.youtube</string>
        <string>foursquare</string>
      </array>
    </config-file>

    <!-- Allow HTTP -->
    <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
      <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
      </dict>
    </config-file>

    <!-- Disable iPad multi-tasking -->  
    <config-file target="*-Info.plist" parent="UIRequiresFullScreen">
        <true/>
    </config-file>

  </platform>

</plugin>