#event {
  #expanded-header {
    background-color: $brand-color;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    position: absolute;
    width: 100%;
    z-index: 1;
    top: -232px; // The element's max height.
    transition: top 0.15s ease-out;

    &.expanded {
      top: $bar-height;
    }
  }
  #members {
    margin-top: 10px;
    overflow-x: scroll;
    white-space: nowrap;
  }
  .member {
    border-radius: 50%;
    height: 36px;
    margin-right: 3px;
  }
  #respond-buttons {
    margin-top: 10px;
  }
  .respond {
    &:disabled,
    &.activated {
      border: 1px solid #fff !important;
      background-color: $brand-color;
      color: #fff;
    }
  }
  .event-detail {
    display: flex;
    margin-bottom: 7px;
    color: #fff;
    font-size: 16px;

    > i {
      width: 15px;
      margin-right: 15px;
      font-size: 1.2em;
      color: #fff;
    }
    > .fa-calendar-o {
      margin-top: 10px;
    }
    > .fa-map-marker {
      width: 12px;
      margin-left: 3px;
      margin-top: 2px;
    }
    > .fa-comment-o {
      margin-top: 1px;
    }
  }
  #event-comment {
    max-height: 50px;
    overflow: auto;
  }
  ion-item {
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;

    &:first-child {
      padding-top: 10px;
    }
    &:last-child {
      padding-bottom: 10px;
    }
  }
  .action-message {
    padding-top: 7px;
    padding-bottom: 7px;
    color: #888;
    font-size: 13px;
    text-align: center;
  }
  .text-message {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    max-width: 100%;

    .avatar {
      flex-shrink: 0;
      flex-grow: 0;
      z-index: 1;
      height: 36px;
      width: 36px;
      border-radius: 50%;
    }
    .text {
      position: relative;
      margin-left: 10px;
      background-color: #eee;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 12px;
      padding-right: 12px;
      border-radius: 13px;
      font-weight: lighter;
      max-width: 70%;
      color: #222;
      font-size: 16px;
      font-weight: 400;
      white-space: pre-wrap;

      &::before {
        position: absolute;
        right: auto;
        bottom: .6em;
        left: -12px;
        height: 0;
        content: '';
        border: 6px solid transparent;
        border-right-color: #eee;
        z-index: 2;
      }
    }
    &.mine {
      flex-direction: row-reverse;

      .avatar {
        display: none;
      }
      .text {
        border-top: 1px solid #07f;
        border-bottom: 1px solid #07f;
        background-color: #08f;
        color: #fff;
        margin-left: 0;
        margin-right: 10px;

        &::before {
          right: -12px;
          bottom: .6em;
          left: auto;
          border: 6px solid transparent;
          border-left-color: #08f;
        }
      }
    }
  }
  ion-footer-bar {
    padding-left: 10px;
    padding-right: 10px;
    height: auto;
    display: block;
  }
  textarea {
    border: none;
    width: 100%;
    padding-right: 50px;
    resize: none;
    line-height: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    max-height: 104px;
    font-size: 15px;
  }
  #send-message {
    position: absolute;
    right: 10px;
    bottom: 5px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    color: $link-color;

    &:disabled {
      color: #999;
    }
  }
  .fa-arrow-right {
    color: blue;
  }
}
