#event {
  .mark-interested {
    left: 0;
  }
  .total-num-interested {
    left: 6px;
  }
  .event {
    padding-left: 47px;
  }
  h2 {
    margin-top: 15px;
  }
  .interested-friends {
    margin-left: 10px;
    margin-right: 10px;
  }
  input {
    padding-left: 23px;
    background-color: #fff;
  }
  input:read-only {
    background-color: rgb(255, 255, 255);
  }
  .fa-search {
    padding-left: 0;
  }
}
