#event {
  #expanded-header {
    background-color: $brand-color;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  #members {
    margin-top: 10px;
  }
  .member {
    border-radius: 50%;
    height: 36px;
    margin-right: 7px;
  }
  #respond-buttons {
    margin-top: 10px;
  }
  .respond {
    &:disabled {
      border: 1px solid #fff !important;
      background-color: $brand-color;
      color: #fff;
    }
  }
  .event-detail {
    display: flex;
    margin-bottom: 7px;
    color: #fff;
    font-size: 16px;

    > i {
      width: 15px;
      margin-right: 15px;
      font-size: 1.2em;
      color: #fff;
    }
    > .fa-calendar-o {
      margin-top: 10px;
    }
    > .fa-map-marker {
      width: 12px;
      margin-left: 3px;
      margin-top: 2px;
    }
    > .fa-comment-o {
      margin-top: 1px;
    }
  }
  ion-footer-bar {
    padding-left: 10px;
    padding-right: 10px;
    height: auto;
    display: block;
  }
  textarea {
    border: none;
    width: 100%;
    padding-right: 50px;
    resize: none;
    line-height: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    max-height: 104px;
  }
  #send-message {
    position: absolute;
    right: 10px;
    bottom: 5px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    color: $link-color;

    &:disabled {
      color: #999;
    }
  }
  .fa-arrow-right {
    color: blue;
  }
}
