<ion-view id="event">
  <ion-nav-title>
    <span id="logo">Rallytap</span>
  </ion-nav-title>
  <ion-content>
    <!-- Event item -->
    <event-item ng-if="event.savedEvent && !event.recommendedEvent"
                saved-event="event.savedEvent"
                comments-count="event.commentsCount"></event-item>

    <!-- Recommended Event item -->
    <event-item ng-if="event.recommendedEvent && !event.savedEvent"
                recommended-event="event.recommendedEvent"></event-item>

    <!-- Invite friends -->
    <div id="invite-friends">
      <div id="section-header">
        <h3>See who's down</h3>
        <p>We'll send them a text with your message and a link to reply if they're not on Rallytap.</p>
      </div>
      <div class="search-bar">
        <i class="fa fa-search"></i>
        <input ng-model="name"
               placeholder="Search"
               ng-click="event.showSearchModal()"
               readonly
               ontouchstart>
      </div>
      <ion-list class="list-avatar">
        <ion-item collection-repeat="item in event.items"
                  class="item-avatar item-icon-right friend"
                  item-height="52px"
                  item-width="100%">
          <!-- User -->
          <img class="item-image" 
               ng-if="item.user.imageUrl"
               ng-src="{{item.user.getImageUrl()}}">
          <span class="contact-image item-image"
                ng-if="!item.user.imageUrl">
                {{item.user.getInitials()}}
          </span>
          <h2>{{item.user.name}}</h2>
          <!-- Event -->
          <invite-button ng-if="item.user.id && event.savedEvent && !event.recommendedEvent"
                         user="item.user"
                         event="event.savedEvent.event"></invite-button>

          <!-- Recommended Event -->
          <invite-button ng-if="item.user.id && event.recommendedEvent && !event.savedEvent"
                         user="item.user"
                         recommended-event="event.recommendedEvent"></invite-button>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
