#event {
  #expanded-header {
    background-color: $brand-color;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    width: 100%;
    z-index: 1;
    max-height: 0;
    top: $bar-height;
    transition: max-height 0.16s ease-out;
    overflow: hidden;

    &.expanded {
      max-height: 284px; // the element's max height
    }
  }
  h2 {
    color: #fff;
    font-size: 20px;
    max-height: 52px;
    overflow: auto;
  }
  #respond-buttons {
    padding-bottom: 20px;
  }
  #members {
    margin-top: 10px;
    overflow-x: auto;
    white-space: nowrap;
    height: 41px;
  }
  .member {
    border-radius: 50%;
    height: 36px;
    margin-right: 3px;
  }
  #respond-buttons {
    margin-top: 10px;
  }
  .respond {
    color: $brand-color;
    border: 1px solid $brand-color;
    background-color: #fff;
    border-radius: 16px;
    height: 26px;
    width: 76px;
    line-height: 20px;

    &.activated {
      color: #fff;
      background-color: $brand-color;
    }
    &:disabled,
    &.activated {
      border: 1px solid #fff !important;
      background-color: $brand-color;
      color: #fff;
    }
  }
  .event-detail {
    display: flex;
    margin-bottom: 7px;
    color: #fff;
    font-size: 16px;

    i {
      width: 15px;
      margin-right: 15px;
      font-size: 1.2em;
      color: #fff;
    }
    .fa-calendar-o {
      margin-top: 10px;
    }
    .fa-map-marker {
      width: 12px;
      margin-left: 3px;
      margin-top: 2px;
    }
    .fa-comment-o {
      margin-top: 1px;
    }
    a {
      color: #fff;
      text-decoration: none;
      font-weight: 500;
    }
  }
  #event-comment {
    max-height: 50px;
    overflow: auto;
  }
  .fa-arrow-right {
    color: blue;
  }
}
