<ion-view id="event">
  <ion-nav-title id="event-title" ng-click="event.toggleIsHeaderExpanded()"
                 ontouchstart>
    {{event.event.titleWithLongVariableName}}
    <i class="fa"
       ng-class="{'fa-caret-down': !event.isHeaderExpanded, 'fa-caret-up': event.isHeaderExpanded}"
       ></i>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-clear icon"
            ng-click="event.showMoreOptions()" ontouchstart
            ><i class="fa fa-ellipsis-h fa-2x"></i></button>
  </ion-nav-buttons>
  <div id="expanded-header" ng-class="{expanded: event.isHeaderExpanded}">
    <h2>{{event.event.title}}</h2>
    <div class="event-detail" ng-if="event.event.datetime">
      <i class="fa fa-calendar-o"></i>
      <div>
        <div>{{event.event.datetime | date:'EEEE, MMM d'}}</div>
        <div>{{event.event.datetime | date:'shortTime' | lowercase}}</div>
      </div>
    </div>
    <div class="event-detail" ng-if="event.event.place">
      <a href view-location location="event.event.place"
        ><i class="fa fa-map-marker"></i>{{event.event.place.name}}</a>
    </div>
    <div id="event-comment" class="event-detail" ng-if="event.event.comment">
      <i class="fa fa-comment-o"></i>{{event.event.comment}}
    </div>
    <div id="members">
      <img class="member" ng-src="{{member.getImageUrl(72)}}"
           ng-repeat="member in event.members">
    </div>
    <div id="respond-buttons">
      <button class="respond" ng-click="event.acceptInvitation()" ontouchstart
              ng-disabled="event.isAccepted()"
              >Down</button>
      <button class="respond" ng-click="event.maybeInvitation()" ontouchstart
              ng-disabled="event.isMaybe()"
              >Maybe</button>
      <button class="respond" ng-click="event.declineInvitation()" ontouchstart
              >Can't</button>
    </div>
  </div>
  <ion-content>
    <ion-list>
      <!-- We might need to use `track by item.id` to keep this quick. -->
      <ion-item ng-repeat="message in event.messages">
        <div class="action-message" ng-if="event.isActionMessage(message)">
          {{message.text}}
        </div>
        <div class="text-message" ng-if="!event.isActionMessage(message)"
             ng-class="{'mine': event.isMyMessage(message)}">
          <img class="avatar" ng-src="{{message.creator.getImageUrl(72)}}">
          <div class="text">{{message.text}}</div>
        </div>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll on-infinite="event.saveMaxTop()"
                         distance="1%" ng-show="false"></ion-infinite-scroll>
    <div class="placeholder" ng-if="event.members.length < 2">
      No one has joined, yet.
    </div>
  </ion-content>
  <ion-footer-bar class="bar-light" keyboard-attach>
    <textarea ng-model="event.message" placeholder="Type a message..." msd-elastic
              rows="1" ng-disabled="event.members.length < 2"></textarea>
    <button id="send-message" class="button button-clear"
            ng-disabled="!event.message" ng-click="event.sendMessage()" ontouchstart
            >Send</button>
  </ion-footer-bar>
</ion-view>
