#event {
  .mark-interested {
    left: 0;
  }
  .total-num-interested {
    left: 6px;
  }
  h2 {
    margin-top: 15px;
  }
  .interested-friends {
    margin-left: 10px;
    margin-right: 10px;
  }
  input {
    padding-left: 23px;
  }
  .fa-search {
    padding-left: 0;
  }
}
