<ion-view id="comments"
          view-title="Comments">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon"
            ng-click="$ionicGoBack()"
            ontouchstart>
      <i class="fa fa-chevron-left fa-lg"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
    <!-- No comments placeholder -->
    <div class="placeholder"
         ng-if="comments.comments.length === 0 && comments.commentsLoaded === true">
      <div>There are no comments yet. Why not be the first?</div>
    </div>

    <ion-list ng-if="comments.comments.length > 0">
      <ion-item class="item-avatar" ng-repeat="comment in comments.comments">
        <img ng-src="{{comment.creator.getImageUrl(72)}}">
        <h2>{{comment.creator.name}} <span class="comment-time">{{comment.createdAt.getTime() | timeAgo}}</span></h2>
        <p ng-bind-html="comment.text | linky"></p>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar class="bar-light new-message-bar" keyboard-attach>
    <textarea class="new-message"
              ng-model="comments.newComment"
              placeholder="Add a comment.."
              msd-elastic
              rows="1"
              ></textarea>
    <button class="button button-clear send-message"
            ng-disabled="!comments.newComment"
            ng-click="comments.postComment()"
            ontouchstart
            >Post</button>
  </ion-footer-bar>
</ion-view>
