#add-friends {
  img {
    border-radius: 0;
    background-color: transparent !important;
  }
  h2 {
    font-size: 18px;
    padding-top: 10px;
  }
  .fa-chevron-right {
    position: absolute;
    right: 13px;
    top: 30px;
    color: #aaa;
  }
  .item-icon-right {
    img {
      background-color: #fff;
    }
  }
}
