#chats {
  .item {
    &.last {
      border-bottom-width: 1px;
    }
  }
  .avatar-pie {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  h2 {
    color: $brand-color;
    font-size: 18px;
    padding-right: 10px;
    font-weight: 400;
    margin-bottom: 2px;
  }
  time-ago {
    font-size: 13px;
    margin-left: 3px;
    position: absolute;
    right: 11px;
    top: 20px;
  }
  p,
  time-ago {
    color: #777;
  }
}
