<ion-view id="chats"
          view-title="Chats"
          hide-back-button="true"
          can-swipe-back="false">
  <ion-content id="chats-content">
    <div class="placeholder"
         ng-if="chats.items.length === 0">
      <div>You don't have any chats</div>
    </div>

    <ion-list class="list-avatar" ng-if="chats.items.length > 0">
      <ion-item collection-repeat="item in chats.items"
                item-width="100%"
                item-height="item.isDivider ? '23px' : '72px'"
                class="item-avatar"
                ng-class="{
                  updated: !chats.wasRead(item.newestMessage),
                  last: $last
                }">
        <div ng-if="item.friend"
             ng-click="chats.viewChat(item)">
          <img class="item-image"
               ng-src="{{item.friend.getImageUrl()}}">
<!--           <canvas class="chart chart-pie avatar-pie"
                  data="[
                    (100 - item.chat.percentRemaining),
                    item.chat.percentRemaining
                  ]"
                  labels="['', '']"
                  colours="['#ffffff', 'rgba(0,0,0,0)']" width="53" height="53"
                  options="{
                    segmentShowStroke: false, 
                    animation: false, 
                    responsive: false, 
                    showTooltips: false
                  }"
                  ></canvas> -->
          <h2>{{item.friend.name}}</h2>
          <p class="latest-message">
            <span ng-if="item.newestMessage.text">
              {{item.newestMessage.text}}
            </span>
          </p>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
