<ion-view id="find-friends" view-title="Find Friends" can-swipe-back="false">
  <ion-nav-buttons side="secondary">
    <button class="button button-clear button-light">Done</button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list class="list-avatar">
      <ion-item collection-repeat="item in findFriends.items"
                ng-class="{'item-divider': item.isDivider, 'item-avatar': !item.isDivider, 'item-icon-right': !item.isDivider, last: $last}"
                item-height="item.isDivider ? '35px' : '71px'">
        <!-- Divider -->
        <span ng-if="item.isDivider">{{item.title}}</span>

        <!-- Facebook Friend -->
        <img ng-src="{{item.imageUrl}}" alt="Profile Pic" ng-if="!item.isDivider">
        <h2 ng-if="!item.isDivider">{{item.name}}</h2>
        <p ng-if="!item.isDivider">{{item.username}}</p>
        <user-friendship-button user-id="item.id" ng-if="!item.isDivider">
      </ion-item>
    </ion-list>
  </ion-content>
</div>
