<ion-view id="find-friends" view-title="Find Friends" can-swipe-back="false">
  <ion-nav-buttons side="secondary">
    <button class="button button-clear button-light">Done</button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list class="list-avatar">
      <ion-item collection-repeat="item in findFriends.items"
                ng-class="{'item-divider': item.isDivider, 'item-avatar': !item.isDivider, 'item-icon-right': !item.isDivider, last: $last}"
                item-height="item.isDivider ? '35px' : '71px'">
        <!-- Divider -->
        <span ng-if="item.isDivider && item.id">{{item.title}}</span>

        <!-- Friend Using Down -->
        <img ng-src="{{item.imageUrl}}" alt="Profile Pic" ng-if="!item.isDivider && item.id">
        <h2 ng-if="!item.isDivider && item.id">{{item.name}}</h2>
        <p ng-if="!item.isDivider && item.id">{{item.username}}</p>
        <friendship-button user-id="item.id"
                           ng-if="!item.isDivider && item.id"></friendship-button>

        <!-- Contact -->
        <span class="contact-image item-image"
              ng-if="!item.isDivider && !item.contact.user"
              >{{findFriends.getInitials(item.contact.name)}}</span>
        <h2 ng-if="!item.isDivider && !item.contact.user">{{item.contact.name}}</h2>
        <p ng-if="!item.isDivider && !item.contact.user">Add by SMS</p>
        <i class="icon fa fa-plus-square-o"
           ng-if="!item.isDivider && !item.contact.user"></i>

      </ion-item>

      <div id="spinner-container" ng-if="findFriends.isLoading">
      <ion-spinner></ion-spinner>
      </div>
      <div id="load-error"
           ng-if="contactsRequestError">
        There was a problem accessing your contacts. Please try again in a little
        while.
      </div>
    </ion-list>
  </ion-content>
</div>
