<ion-view id="find-friends" view-title="Find Friends" hide-back-button="true"
          can-swipe-back="false">
  <ion-nav-buttons side="secondary">
    <button class="button button-clear button-light"
            ng-click="findFriends.done()" ontouchstart
            >Done</button>
  </ion-nav-buttons>
  <ion-content>
    <div id="spinner-container" ng-if="findFriends.isLoading">
      <ion-spinner icon="bubbles"></ion-spinner>
    </div>
    <div class="search-bar">
      <i class="fa fa-search"></i>
      <input ng-model="findFriends.query" placeholder="Search">
      <i class="fa fa-times" ng-click="findFriends.query = null"
         ng-if="findFriends.query"></i>
    </div>
    <!--
    <div class="no-results"
         ng-if="findFriends.items.length === 0">
      No results.
    </div>
    -->
    <ion-list class="list-avatar">
      <ion-item collection-repeat="item in findFriends.items | filter:findFriends.search track by item.id"
                ng-class="{'item-divider': item.isDivider, 'item-avatar': !item.isDivider, 'item-icon-right': !item.isDivider}"
                item-height="item.isDivider ? '36px' : '79px'">
        <!-- Divider -->
        <div ng-if="item.isDivider">
          {{item.title}}
        </div>

        <!-- Friend Using Down -->
        <div ng-if="item.user.username">
          <img class="item-image" ng-src="{{item.user.getImageUrl()}}">
          <h2>{{item.user.name}}</h2>
          <p>{{item.user.username}}</p>
          <friendship-button user="item.user">
        </div>

        <!-- Contact -->
        <div ng-if="!item.isDivider && !item.user.username">
          <span class="contact-image item-image"
                >{{findFriends.getInitials(item.user.name)}}</span>
          <h2>{{item.user.name}}</h2>
          <p>Add by SMS</p>
          <friendship-button user="item.user">
        </div>
      </ion-item>
    </ion-list>
    <div class="permission-denied" ng-if="findFriends.contactsDeniedError">
      <div class="message">
        It looks like you didn't give Down permission to access your address book :(
      </div>
      <div class="message">
        If that was a mistake, you can allow Down to access your address book from
        your settings app:
      </div>
      <div class="message instructions">
        Settings <i class="fa fa-arrow-right"></i> Down. <i class="fa fa-arrow-right"></i> Contacts
      </div>
    </div>
    <div class="permission-denied" ng-if="findFriends.contactsRequestError">
      <div class="message">
        Sorry, we weren't able to access your address book.
      </div>
      <!--
      <div class="message">
        Oops, something went wrong. Tap this button to try to access your address
        book again:
      </div>
      <div class="message">
        <div id="button-container">
          <button class="button" ng-click="findFriends.()">
            Enable Push Notifications
          </button>
        </div>
      </div>
      -->
    </div>
  </ion-content>
</div>
