<ion-view id="add-from-facebook" view-title="Facebook Friends">
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh..." spinner="bubbles"
                   on-refresh="addFromFacebook.refresh()"
                   ng-if="!addFromFacebook.isLoading">
    </ion-refresher>
    <div id="spinner-container" ng-if="addFromFacebook.isLoading">
      <ion-spinner icon="bubbles"></ion-spinner>
    </div>
    <div id="load-error"
         ng-if="addFromFacebook.loadError && !addFromFacebook.items.length">
      There was a problem loading your facebook friends. Please try again in a
      little while.
    </div>
    <div class="placeholder"
         ng-if="!addFromFacebook.items.length && !addFromFacebook.isLoading && !addFromFacebook.loadError">
      None of your Facebook friends are using Down, yet.
    </div>
    <ion-list class="list-avatar">
      <ion-item collection-repeat="item in addFromFacebook.items"
                ng-class="{
                  'item-divider': item.isDivider,
                  'item-avatar': !item.isDivider,
                  'item-icon-right': !item.isDivider
                }"
                item-height="item.isDivider ? '36px' : '79px'">
        <!-- Divider -->
        <div ng-if="item.isDivider">
          {{item.title}}
        </div>

        <!-- User -->
        <div ng-if="item.user">
          <img class="item-image" ng-src="{{item.user.getImageUrl()}}">
          <h2>{{item.user.name}}</h2>
          <p>{{item.user.username}}</p>
          <friendship-button user="item.user">
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
