#add-from-facebook {
  #spinner-container {
    text-align: center;
    margin-top: 25px;
  }
  #load-error {
    text-align: center;
    width: 200px;
    margin: 150px auto 0;
    color: #333;
  }
}
