<ion-view id="add-from-address-book" view-title="Address Book">
  <ion-content>
    <ion-list class="list-avatar">
      <ion-item collection-repeat="item in addFromAddressBook.items"
                ng-class="{
                  'item-divider': item.isDivider,
                  'item-avatar': !item.isDivider,
                  'item-icon-right': !item.isDivider
                }"
                item-height="item.isDivider ? '36px' : '79px'">
        <!-- Divider -->
        <div ng-if="item.isDivider">
          {{item.title}}
        </div>

        <!-- User who signed up -->
        <div ng-if="item.user">
          <img class="item-image" ng-src="{{item.user.getImageUrl()}}">
          <h2>{{item.user.name}}</h2>
          <p>{{item.user.username}}</p>
          <friendship-button user="item.user">
        </div>

        <!-- Contact -->
        <div ng-if="item.contact">
          <span class="contact-image item-image"
                >{{addFromAddressBook.getInitials(item.contact.name)}}</span>
          <h2>{{item.contact.name}}</h2>
          <p>Add by SMS</p>
          <friendship-button user="item.contact">
        </div>
      </ion-item>
    </ion-list>
    <div id="spinner-container" ng-if="addFromAddressBook.isLoading">
      <ion-spinner icon="bubbles"></ion-spinner>
    </div>
    <div class="permission-denied" ng-if="addFromAddressBook.getContactsError">
      <div class="message">
        It looks like you didn't give Down permission to access your address book :(
      </div>
      <div class="message">
        You can allow Down to access your address book from your settings app:
      </div>
      <div class="message instructions">
        Settings <i class="fa fa-arrow-right"></i> Down. <i class="fa fa-arrow-right"></i> Contacts
      </div>
    </div>
  </ion-content>
</ion-view>
