<ion-view id="add-from-address-book" view-title="Address Book">
  <ion-content>
    <ion-list class="list-avatar">
      <ion-item collection-repeat="item in addFromAddressBook.items"
                ng-class="{'item-divider': item.isDivider, 'item-avatar': !item.isDivider, 'item-icon-right': !item.isDivider, last: $last}"
                item-height="item.isDivider ? '35px' : '71px'">
        <!-- Divider -->
        <div ng-if="item.isDivider">
          {{item.title}}
        </div>

        <!-- User who signed up -->
        <div ng-if="item.contact.user.username">
          <img class="item-image" ng-src="{{item.contact.user.imageUrl}}"
               alt="Profile Pic">
          <h2>{{item.contact.user.name}}</h2>
          <p>{{item.contact.user.username}}</p>
          <user-friendship-button user-id="item.id">
        </div>

        <!-- User who was added from contacts -->
        <div ng-if="item.contact.user && !item.contact.user.username">
          <img class="item-image" ng-src="{{item.contact.user.imageUrl}}"
               alt="Profile Pic">
          <h2>{{item.contact.user.name}}</h2>
          <p>{{item.contact.user.username}}</p>
          <user-friendship-button user-id="item.id">
        </div>

        <!-- Contact -->
        <div ng-if="!item.isDivider && !item.contact.user">
          <span class="contact-image item-image"
                >{{addFromAddressBook.getInitials(item.contact.name)}}</span>
          <h2>{{item.contact.name}}</h2>
          <p>Add by SMS</p>
          <i class="icon fa fa-plus-square-o"></i>
          <contact-friendship-button contact="item.contact">
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
