#add-from-address-book {
  .contact-image {
    background-color: #ccc;
    color: #fff;
    padding-top: 14px;
    font-size: 20px;
    font-weight: 500;
  }
  .fa-plus-square-o {
    color: #aaa;
  }
}
