/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// Global variables
$brand-color: #6a38ab;
$new-event-margin-left: 5px;

// The path for our ionicons font files, relative to the built CSS in www/css
//$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "./ionic/scss/ionic";

// Include each view's scss
@import "./common/intl-phone/intlTelInput";
@import "./login/login";
@import "./verify-phone/verify-phone";
@import "./facebook-sync/facebook-sync";
@import "./set-username/set-username";
@import "./request-push/request-push";
@import "./request-location/request-location";
@import "./request-contacts/request-contacts";
@import "./find-friends/find-friends";
@import "./events/events";
@import "./set-place/set-place";
@import "./invite-friends/invite-friends";
@import "./add-by-username/add-by-username";
@import "./add-from-address-book/add-from-address-book";
@import "./add-from-facebook/add-from-facebook";
@import "./event/event";
@import "./my-friends/my-friends";
@import "./add-friends/add-friends";
@import "./friends/friends";

/*
Global Sass
*/

// Global
body {
  -webkit-font-smoothing: antialiased;
}
.button {
  border-radius: 4px;
}
.button-full {
  border-radius: 0;
}
.buttons-right {
  padding-right: 3px;
}

// Items
.list-avatar {
  .item-divider {
    padding-left: 12px;
  }
}
.item {
  border-color: #eee;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 1px;

  .contact-image {
    background-color: #ccc;
    color: #fff;
    padding-top: 14px;
    font-size: 20px;
    font-weight: 500;
  }
  &.item-divider {
    margin-bottom: 0;
  }
}
.collection-repeat-container {
  & > .item {
    border-bottom-width: 2px;
  }
}
.item-divider {
  text-transform: uppercase;
  background-color: #fff;
  color: $brand-color;
  font-size: 12px;
  border: none;

  &.activated {
    background-color: #fff;
  }
}
.item-avatar {
  & > img:first-child,
  .item-image {
    background-color: #ccc;
    max-width: 50px;
    max-height: 50px;
    top: 13px;
    left: 11px;
  }
}

// Placeholder
.placeholder {
  text-align: center;
  color: $brand-color;
  margin: auto;
  padding-top: 124px;
  max-width: 216px;
}

// Loading overlay
.loading-text {
  max-width: 160px;
  margin-bottom: 15px;
}
#loading-contacts {
  max-width: none;
}
.loading {
  font-weight: 900;

  .spinner {
    stroke: #fff;
    fill: #fff;
  }
}

// Onboarding
.onboard-view {
  .explanation {
    font-size: 16px;
    color: #fff;
    text-align: center;
    width: 250px;
  }
  input {
    width: 100%;
    font-size: 23px;
    text-align: center;
    border-style: none;
  }
  .form-errors {
    text-align: center;
    color: #fff;
  }
  .form-error {
    padding-top: 5px;
  }
  .has-error {
    border-bottom: 2px solid red;
  }
  .button {
    padding-left: 25px;
    padding-right: 25px;
  }
}
.request-view {
  #explanation {
    margin: 96px auto 25px;
  }
  #button-container {
    text-align: center;
  }
  .button {
    border: none;
    color: $brand-color;    
  }
  #error {
    margin: 15px auto 0;
  }
}

// Search
.search-bar {
  i {
    position: absolute;
    padding: 13px 16px;
    color: #aaa;
  }
  input {
    width: 100%;
    border: none;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    padding: 10px 39px;
    margin-top: -1px;
    margin-bottom: 1px;
    font-size: 16px;
    border-radius: 0 !important;
  }
  .fa-times {
    top: 0;
    right: 0;
    font-size: 16px;
  }
}
.no-results {
  text-align: center;
  margin-top: 10px;
  color: #777;
}

// Place search
.pac-container {
  box-shadow: none;
  border: none;
  border-top: none;

  &::after {
    margin-top: 10px;
    margin-right: 5px;
  }
}
.pac-item {
  border-top: none;
  border-bottom: 1px solid #e6e6e6;
  padding: 7px 14px;
  font-family: $font-family-sans-serif;
  font-size: 13px;
}
.pac-icon {
  margin-right: 10px;
}
.pac-item-query {
  font-size: 16px;
}

// Navbar
#nav-logo {
  font-family: 'Viga', 'Helvetica Neue', sans-serif;
  font-size: 36px;
}
.back-button {
  padding-left: 3px !important;
}
.bar-header {
  border-bottom-width: 0 !important;
  border-bottom-color: transparent !important;
  background-image: none;
  border-bottom: none;
}
.bar {
  background-color: $brand-color;

  .title {
    color: #fff;
    font-size: 23px;
  }
  i { 
    color: #fff;
  }
}
#event-title {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;

  i {
    position: relative;
    padding-left: 2px;
    font-size: 18px;
  }
}

// Events
.respond {
  color: $brand-color;
  border: 1px solid $brand-color;
  background-color: #fff;
  border-radius: 16px;
  height: 26px;
  width: 76px;
  line-height: 20px;

  &.activated {
    color: #fff;
    background-color: $brand-color;
  }
}
#events-content {
  bottom: 81px; // the height of the footer w/o event details
  // TODO: Figure out how to set the bottom dynamically based on the footer's
  //   contents.
}
.platform-ios {
  #expanded-header {
    // Offset for ios-status-bar
    top: $bar-height + $ios-statusbar-height !important;
  }
}

// Friendship Buttons
.friendship-button {
  .fa-plus-square-o {
    color: #aaa;
  }
  .fa-check-square {
    color: $brand-color;
  }
  .spinner {
    fill: #aaa;
    stroke: #aaa;
  }
}

// Alerts
.ng-toast {
  position: absolute;
  width: 100%;
  margin-top: 0;
  z-index: 12;
}
.platform-ios .ng-toast {
  // Offset for iOS status bar
  margin-top: $ios-statusbar-height;
}
.alert {
  background-color: $brand-color;
  color: #fff;
  padding: 15px;
}
.close {
  position: relative;
  top: -5px;
  right: -21px;
  color: #fff;
  float: right;
  font-weight: bold;
  font-size: 21px;
  background: transparent;
  border: 0;
  width: 45px;
}

// Spinner
.scroll-refresher,
#spinner-container {
  .spinner {
    stroke: #666666;
    fill: #666666;
  }
}

// Permission denied
.permission-denied {
  text-align: center;
  color: $brand-color;
  padding-top: 100px;
  font-size: 16px;
  line-height: 18px;

  .message {
    margin: 0 auto 24px;
    max-width: 216px;

    &.instructions {
      font-weight: 900;
      max-width: none;
    }
  }
  i {
    margin-left: 5px;
    margin-right: 5px;
  }
}

// Popup
#share-link {
  padding: 7px;
  color: #767676;
  border: 1px solid #ccc;
}
