/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// Global variables
$brand-color: #6a38ab;
$new-event-margin-left: 5px;

// The path for our ionicons font files, relative to the built CSS in www/css
//$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "./ionic/scss/ionic";

// Include each view's scss
@import "./common/intl-phone/intlTelInput";
@import "./login/login";
@import "./verify-phone/verify-phone";
@import "./facebook-sync/facebook-sync";
@import "./set-username/set-username";
@import "./request-push/request-push";
@import "./request-location/request-location";
@import "./request-contacts/request-contacts";
@import "./find-friends/find-friends";
@import "./events/events";
@import "./set-place/set-place";
@import "./invite-friends/invite-friends";
@import "./add-friends/add-friends";
@import "./add-by-username/add-by-username";
@import "./add-from-address-book/add-from-address-book";
@import "./add-from-facebook/add-from-facebook";
@import "./event/event";
@import "./friends/friends";

/*
Global Sass
*/

// Global
.button {
  border-radius: 4px;
}
.button-full {
  border-radius: 0;
}
.buttons-right {
  padding-right: 3px;
}
.bar {
  background-color: $brand-color;

  .title {
    color: #fff;
    font-size: 23px;
  }
  i { 
    color: #fff;
  }
}
.item-divider {
  text-transform: uppercase;
  background-color: #fff;
  color: $brand-color;
  font-size: 12px;
  border: none;

  &.activated {
    background-color: #fff;
  }
}
.list-avatar {
  .item-divider {
    padding-left: 12px;
  }
}
.item {
  border-color: #eee;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-width: 2px;

  &.last {
    border-bottom-width: 1px;
  }
  .contact-image {
    background-color: #ccc;
    color: #fff;
    padding-top: 14px;
    font-size: 20px;
    font-weight: 500;
  }
}
.item-avatar {
  & > img:first-child,
  .item-image {
    background-color: #ccc;
    max-width: 50px;
    max-height: 50px;
    top: 11px;
    left: 11px;
  }
}

// Loading overlay
.loading-text {
  max-width: 115px;
  margin-bottom: 15px;
}

// Onboarding
.onboard-view {
  .explanation {
    font-size: 16px;
    color: #fff;
    text-align: center;
    width: 250px;
  }
  input {
    width: 100%;
    font-size: 23px;
    text-align: center;
    border-style: none;
  }
  .form-errors {
    text-align: center;
    color: #fff;
  }
  .form-error {
    padding-top: 5px;
  }
  .has-error {
    border-bottom: 2px solid red;
  }
  .button {
    padding-left: 25px;
    padding-right: 25px;
  }
}
.request-view {
  #explanation {
    margin: 96px auto 25px;
  }
  #button-container {
    text-align: center;
  }
  .button {
    border: none;
    color: $brand-color;    
  }
  #error {
    margin: 15px auto 0;
  }
}

// Place search
.pac-container {
  box-shadow: none;
  border: none;
  border-top: none;

  &::after {
    margin-top: 10px;
    margin-right: 5px;
  }
}
.pac-item {
  border-top: none;
  border-bottom: 1px solid #e6e6e6;
  padding: 7px 14px;
  font-family: $font-family-sans-serif;
  font-size: 13px;
}
.pac-icon {
  margin-right: 10px;
}
.pac-item-query {
  font-size: 16px;
}

// Navbar
#nav-logo {
  font-family: 'Viga', 'Helvetica Neue', sans-serif;
  font-size: 36px;
}
.back-button {
  padding-left: 3px !important;
}

// Events
.respond {
  color: $brand-color;
  border: 1px solid $brand-color;
  background-color: #fff;
  border-radius: 16px;
  height: 26px;
  width: 67px;
  line-height: 20px;

  &.activated {
    color: #fff;
    background-color: $brand-color;
  }
}

// Friendship Buttons
.friendship-button {
  &.fa-plus-square-o,
  &.fa-spinner {
    color: #aaa;
  }
  &.fa-check-square {
    color: $brand-color;
  }
}
