/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// Global variables
$brand-color: #6a38ab;

// The path for our ionicons font files, relative to the built CSS in www/css
//$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "./ionic/scss/ionic";

// Include each view's scss
@import "./common/intl-phone/intlTelInput";
@import "./login/login";
@import "./verify-phone/verify-phone";
@import "./facebook-sync/facebook-sync";
@import "./set-username/set-username";
@import "./request-push/request-push";
@import "./request-location/request-location";

/*
Global Sass
*/

// Global
.button {
  border-radius: 4px;
}

// Onboarding
.onboard-view {
  .explanation {
    font-size: 16px;
    color: #fff;
    text-align: center;
    width: 250px;
  }
  input {
    width: 100%;
    font-size: 23px;
    text-align: center;
    border-style: none;
  }
  .form-errors {
    text-align: center;
    color: #fff;
  }
  .form-error {
    padding-top: 5px;
  }
  .has-error {
    border-bottom: 2px solid red;
  }
  .button {
    padding-left: 25px;
    padding-right: 25px;
  }
}
.request-view {
  #explanation {
    margin: 66px auto 25px;
  }
  #button-container {
    text-align: center;
  }
  .button {
    border: none;
    color: $brand-color;    
  }
  #error {
    margin: 15px auto 0;
  }
}
