#tutorial {
  background-color: $brand-color;
  text-align: center;
  height: 100%;

  .slider {
    height: 80%;
  }
  .slider-slides,
  ion-slide {
    height: 100%;
    z-index: 3;
  }
  ion-slide {
    display: flex;
    flex-direction: column;
  }
  .explainer-container {
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h1 {
    color: #fff;
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 1.5em;
  }
  .img-container {
    width: 100%;
    height: 75%;
  }
  img {
    height: 100%;;
  }
  .static-container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 2;
  }
  .spacer {
    height: 80%;
  }
  .static-wrapper {
    z-index: 4;
    bottom: 0;
    position: relative;
    height: 20%;
    width: 100%;
    padding-top: 7px;
  }
  .section-icons {
    font-size: 8px;
    color: #fff;
  }
  .section-icon {
    padding-left: 5px;
    padding-right: 5px;
  }
  .fa-circle-thin {
    font-size: 13px;
    vertical-align: middle;
  }
  button {
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
    width: 230px;
    background-color: #ed6700;
    border-color: #ed6700;
    color: #fff;
    font-weight: bold;
    margin: auto;
    margin-top: 7px;

    &.activated {
      background-color: darken(#ed6700, 12%);
      border-color: darken(#ed6700, 12%);
    }
  }

  @media (min-width: 375px) {
    h1 {
      font-size: 21px;
    }
    .static-wrapper {
      padding-top: 15px;
    }
    button {
      margin-top: 15px;
    }
  }
}
