#create-event {
  background-color: $brand-color;

  .list {
    margin: auto;
    width: 256px;
  }
  #details {
    margin-top: 10px;
  }
  #button-list {
    margin-top: 10px;
  }
  .item {
    padding: 0;
    border-color: #bbb;
  }
  input {
    border: none;  
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    width: 100%;
    font-size: 16px;
    background-color: #fff;
  }
  .fa-times {
    color: #bbb;
    position: absolute;
    right: 15px;
    top: 18px;
  }
  #what {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top: 1px solid darken($brand-color, 12%);
  }
  #what,
  #when,
  #where {
    border-left: 1px solid darken($brand-color, 12%);
    border-right: 1px solid darken($brand-color, 12%);
  }
  #where {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom: 1px solid darken($brand-color, 12%);
  }
  #invite-friends {
    background-color: #ed6700;
    border: 1px solid darken(#ed6700, 10%);
    padding-top: 11px;
    padding-bottom: 11px;
    border-radius: 8px;
    color: #fff;
    text-align: center;
    width: 100%;
    margin: auto;
    font-weight: 700;

    &.activated {
      background-color: darken(#ed6700, 10%);
    }
  }
  #invite-text {
    font-size: 21px;
  }
  .fa-arrow-right {
    position: relative;
    top: -2px;
    left: 2px;
  }
  #who-can-join {
    margin-top: 10px;
    text-align: center;
    color: #fff;
    font-size: 16px;
  }
  #select-privacy {
    background-color: transparent;
    color: #fff;
    text-decoration: underline;
    font-size: 16px;

    i {
      text-decoration: underline;
    }
  }
}
