#create-event {
  background-color: #eee;

  .list {
    margin: auto;
    width: 256px;
  }
  #details {
    margin-top: 40px;
  }
  #button-list {
    margin-top: 10px;
  }
  .item {
    padding: 0;
    border-color: #bbb;
  }
  input {
    border: none;  
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    width: 100%;
    font-size: 16px;
    background-color: #fff;
  }
  .fa-times {
    color: #bbb;
    position: absolute;
    right: 15px;
    top: 20px;
  }
  #what {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-top: 1px solid #bbb;
  }
  #what,
  #when,
  #where,
  #min-accepted,
  #more {
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
  }
  #min-accepted,
  #more {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom: 1px solid #bbb;
  }
  #more {
    height: 55px;
    color: #999;
    text-align: center;
    padding-top: 12px;
  }
  #min-accepted {
    .fa-sort {
      color: #aaa;
      padding-left: 2px;
    }
  }
  #select-min-accepted {
    width: 100%;
    appearance: none;
    background-color: #fff;
    border: none;
    height: 55px;
    opacity: 0;
  }
  #min-accepted-text {
    position: absolute;
    width: 100%;
    padding-top: 17px;
    text-align: center;
    color: #000;
  }
  #invite-friends {
    background-color: $link-color;
    border: 1px solid $link-hover-color;
    padding-top: 11px;
    padding-bottom: 11px;
    border-radius: 30px;
    color: #fff;
    text-align: center;
    width: 80%;
    margin: auto;

    &.activated {
      background-color: $link-hover-color;
    }
  }
}
