<ion-view id="create-event"
          view-title="I'm interested in..."
          hide-back-button="true"
          can-swipe-back="false">
  <ion-nav-buttons side="right">
    <span id="points-nav">{{createEvent.currentUser.points | number:0}}</span>
  </ion-nav-buttons>
  <ion-content>
    <div class="list" id="details">
      <div class="item" id="what">
        <input ng-model="createEvent.title"
               placeholder="What?">
        <i class="fa fa-times"
           ng-if="createEvent.title"
           ng-click="createEvent.title = null"></i>
      </div>
      <div class="item" id="when">
        <input ng-model="createEvent.dateString"
               placeholder="When?"
               ng-click="createEvent.showDatePicker()"
               readonly>
        <i class="fa fa-times"
           ng-if="createEvent.datetime"
           ng-click="createEvent.datetime = null; createEvent.dateString = null"
           ></i>
      </div>
      <div class="item" id="where">
        <input ng-model="createEvent.place.name"
               placeholder="Where?"
               ng-click="createEvent.showSetPlaceModal()"
               readonly>
        <i class="fa fa-times"
           ng-if="createEvent.place"
           ng-click="createEvent.place = null"></i>
      </div>
    </div>
    <div class="list" id="button-list">
      <button class="item"
              id="invite-friends"
              ng-click="createEvent.createEvent()"
              ontouchstart
              ng-disabled="!createEvent.title">
        <span id="invite-text">Post</span>
        <i class="fa fa-arrow-right fa-lg"></i>
      </button>
    </div>
  </ion-content>
</ion-view>
