<div class="saved-event item-button-left">
  <button class="button mark-interested"
          ng-disabled="eventItem.didUserSaveEvent()"
          ng-mousedown="eventItem.saveEvent()"
          ontouchstart>
    <i class="icon"
       ng-class="{
         'calendar-star-selected': eventItem.didUserSaveEvent(),
         'calendar-star-default': !eventItem.didUserSaveEvent()
       }"></i>
  </button>
  <div class="total-num-interested"
       ng-class="{selected: eventItem.didUserSaveEvent()}">
    {{eventItem.savedEvent.totalNumInterested}}
  </div>
  <h2>
     {{eventItem.savedEvent.event.title}}<span
     ng-if="eventItem.savedEvent.event.place"
     > at {{eventItem.savedEvent.event.place.name}}</span><span
     ng-if="eventItem.savedEvent.event.datetime"
     > &mdash; {{eventItem.savedEvent.event.datetime | date:"EEE, MMM d 'at' h:mm a"}}</span>
  </h2>
  <div class="date-posted">
     posted 7 minutes ago
  </div>
  <div class="extra-details"
       ng-if="eventItem.didUserSaveEvent()">
    <div ng-if="eventItem.savedEvent.interestedFriends.length > 0">
      <div class="section interested">
        {{eventItem.savedEvent.interestedFriends.length}} <ng-pluralize
        count="eventItem.savedEvent.interestedFriends.length"
        when="{
          1: 'friend is interested:',
          'other': 'friends are interested:'
        }" />
      </div>
      <div class="interested-friends">
        <div class="item item-avatar item-button-right"
             ng-repeat="friend in eventItem.savedEvent.interestedFriends">
          <img class="item-image" ng-src="{{friend.getImageUrl(72)}}">
          <h3>{{friend.name}}</h3>
          <invite-button user="friend" event="eventItem.savedEvent.event" />
        </div>
      </div>
    </div>
    <div ng-if="eventItem.numConnectionsInterested(eventItem.savedEvent.event) > 0">
      <span class="event-link"
            ng-click="eventItem.viewInterested(eventItem.savedEvent.event)"
            >{{eventItem.numConnectionsInterested(eventItem.savedEvent.event)}} <ng-pluralize
      count="eventItem.numConnectionsInterested(eventItem.savedEvent.event)"
      when="{
        1: 'connection is interested',
        'other': 'connections are interested'
      }" /></span>
    </div>
    <div class="section"
         ng-click="eventItem.viewComments(eventItem.savedEvent.event)">
      <ng-pluralize class="event-link"
                    ng-click="eventItem.viewComments(eventItem.savedEvent.event)"
                    count="eventItem.commentsCount"
                    when="{
                      0: 'comment',
                      1: '{} comment',
                      'other': '{} comments'
                    }" />
    </div>
  </div>
</div>