<div class="saved-event">
  <div class="event item-button-left">
    <button class="button mark-interested"
            ng-disabled="eventItem.didUserSaveEvent()"
            ng-click="eventItem.saveEvent(); $event.stopPropagation()"
            on-tap>
      <i class="icon"
         ng-class="{
           'calendar-star-selected': eventItem.didUserSaveEvent(),
           'calendar-star-default': !eventItem.didUserSaveEvent()
         }"></i>
    </button>
    <div class="total-num-interested"
         ng-class="{selected: eventItem.didUserSaveEvent()}">
      {{eventItem.savedEvent.totalNumInterested}}
    </div>
    <h2>
       {{eventItem.savedEvent.event.title}}<span
       ng-if="eventItem.savedEvent.event.place"
       view-place
       place="eventItem.savedEvent.event.place"
       > at <span
       class="place">{{eventItem.savedEvent.event.place.name}}</span></span><span
       ng-if="eventItem.savedEvent.event.datetime"
       > &mdash; {{eventItem.savedEvent.event.datetime | date:"EEE, MMM d 'at' h:mm a"}}</span>
    </h2>
    <div class="date-posted">
       posted {{eventItem.savedEvent.createdAt.getTime() | timeAgo}}
    </div>
    <div class="extra-details"
         ng-if="eventItem.didUserSaveEvent()">
      <div class="event-link">
        <span ng-click="eventItem.viewInterested(eventItem.savedEvent.event)"
              >{{eventItem.savedEvent.totalNumInterested}} interested</span>
      </div>
      <div class="event-link">
        <ng-pluralize class="event-link"
                      ng-click="eventItem.viewComments(eventItem.savedEvent.event)"
                      count="eventItem.commentsCount"
                      when="{
                        0: 'comment',
                        1: '{} comment',
                        'other': '{} comments'
                      }" />
      </div>
    </div>
  </div>
  <div class="loading interested-friends"
       ng-if="eventItem.savedEvent.isLoadingInterested">
    <div class="num-interested-friends">
      friends interested
    </div>
    <ion-spinner class="loading-friends" icon="bubbles"></ion-spinner>
  </div>
  <div class="interested-friends"
       ng-if="eventItem.savedEvent.interestedFriends.length > 0">
    <div class="num-interested-friends">
      {{eventItem.savedEvent.interestedFriends.length}} <ng-pluralize
      count="eventItem.savedEvent.interestedFriends.length"
      when="{
        1: 'friend is interested',
        'other': 'friends are interested'
      }" />
    </div>
    <div id="learn-down" class="popover" ng-if="eventItem.showLearnInvitePopover">
      <div>
        Your friends are interested, too!
      </div>
      <div>
        Tap to ask if they're down.
        <button class="button button-clear"
                ng-click="eventItem.setHasLearnedInvite(); $event.stopPropagation()"
                ontouchstart>
          Got it.
        </button>
      </div>
      <div class="popover-arrow"></div>
    </div>
    <div class="item item-avatar item-button-right interested-friend"
         ng-class="{first: $first}"
         ng-repeat="friend in eventItem.savedEvent.interestedFriends">
      <img class="item-image" ng-src="{{friend.getImageUrl(72)}}">
      <h3>{{friend.name}}</h3>
      <invite-button user="friend" event="eventItem.savedEvent.event" />
    </div>
  </div>
</div>
