#events {
  #spinner-container {
    text-align: center;
    margin-top: 25px;
  }
  h2 {
    color: $brand-color;
    font-size: 18px;
    padding-right: 10px;
  }
  .list,
  .item {
    width: 100%;
  }
  .moving {
    .item {
      position: absolute;
      transition: top 0.5s ease-in-out, right 1s linear;
    }
  }
  .item-divider {
    text-align: center;
    padding-left: 0;
    padding-right: 0 !important;
    padding-bottom: 0;
    min-height: 26px;

    img,
    h2,
    p,
    .updated-at,
    i {
      display: none;
    }
  }
  .divider-title {
    background-color: #fff;
    padding-right: 7px;
    padding-left: 7px;
  }
  .divider-line {
    border-top: 1px solid #eee;
    margin-top: -11px;
  }
  .item {
    padding-right: 8px;

    &.updated {
      h2,
      p,
      .updated-at {
        font-weight: 700;
      }
      p,
      .updated-at {
        color: #111;
      }
    }
    &.activated {
      .white {
        display: none;
      }
      .gray {
        display: block !important;
      }
    }
    &.last {
      border-bottom: 0;
    }
    .chart-pie {
      position: absolute;
      top: 10px;
      left: 10px;

      &.gray {
        display: none;
      }
    }
    .updated-at,
    .latest-message {
      padding-right: 23px;
    }
    .updated-at {
      font-size: 14px;
      float: right;
      padding-top: 2px;
    }
    h2 {
      font-weight: 400;
      margin-bottom: 2px;
    }
    p,
    .updated-at {
      color: #777;
    }
    .item-icon {
      position: absolute;
      top: 21px;
      right: 7px;
      color: #ccc;
    }
    .respond-buttons {
      margin-top: 10px;
    }
    & + .item-divider {
      margin-top: -7px;
      min-height: 16px;
    }
  }
  .event-detail {
    display: flex;
    margin-top: 5px;
    color: $brand-color;
    font-size: 16px;

    i {
      width: 15px;
      margin-right: 15px;
      font-size: 1.2em;
      color: $brand-color;
    }
    .fa-calendar-o {
      margin-top: 10px;
    }
    .fa-map-marker {
      width: 12px;
      margin-left: 3px;
      margin-top: 2px;
    }
    .fa-comment-o {
      margin-top: 1px;
    }
    a {
      color: $brand-color;
      text-decoration: none;
      font-weight: 500;
    }
  }
  #event-comment {
    white-space: normal;
  }
  #add-friends {
    .item-divider {
      margin-top: -13px;
    }
    .item-avatar {
      img {
        border-radius: 50%;  
      }
      h2 {
        padding-top: 7px;
      }
    }
  }
  ion-footer-bar {
    height: auto;
    display: block;
    padding: 0;
    background-image: none;
    border-top: 1px solid #b2b2b2;
    //box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);

    .event-detail {
      margin-left: $new-event-margin-left;
    }
    a {
      color: #fff;
      padding-left: 15px;
      padding-right: 15px;
    }
    a,
    button {
      padding-top: 15px;
      padding-bottom: 12px;
      padding-left: 13px;
      padding-right: 13px;
    }
    i {
      font-size: 1.5em;
      line-height: .8em;
      vertical-align: -10%;
    }
  }
  #new-event-details {
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 7px;

    .fa-comment-o {
      margin-top: 4px;
    }
  }
  #actions {
    margin-top: 15px;
    margin-bottom: 12px;

    i { 
      color: #aaa;
    }
    .selected {
      color: $brand-color;
    }
    .enabled {
      color: $link-color !important;
      /*color: #357ded !important; *?
      /*color: #232ed1 !important; */
      /*color: #7678ed !important; */
      /*color: $brand-color !important;*/
    }
  }
  input,
  textarea {
    border: none;    
    width: 100%;
    color: $brand-color;
  }
  #suggestion {
    font-size: 18px;
    padding-left: $new-event-margin-left;
  }
  #comment {
    font-size: 16px;
    resize: none;
    line-height: 20px;
    max-height: 64px;
  }
  #suggest {
    position: absolute;
    right: 0;
    bottom: 0;
    border: none;
    background-color: #fff;

    & > i {
      color: #ccc !important;
    }
  }
}

.platform-ios {
  #events {
    #new-event-details {
      padding-top: 3px;
    }
    ion-footer-bar {
      border-top: .5px solid #b2b2b2;
    }
  }
}
