<ion-view id="events" hide-back-button="true" can-swipe-back="false">
  <ion-nav-title>
    <span id="nav-logo">Down.</span>
  </ion-nav-title>
  <ion-nav-buttons side="primary">
    <button class="button button-clear icon" ng-click="events.myFriends()"
            ontouchstart
            ><i class="fa fa-users fa-lg"></i></button>
  </ion-nav-buttons>
  <ion-content id="events-content">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="events.refresh()"
                   ng-if="!events.isLoading" spinner="bubbles">
    </ion-refresher>
    <div id="spinner-container" ng-if="events.isLoading">
      <ion-spinner icon="bubbles"></ion-spinner>
    </div>
    <div class="placeholder" ng-if="!events.items.length && !events.isLoading">
      No suggestions right now.
    </div>
    <ion-list class="list-avatar" ng-class="{moving: events.moving}">
      <ion-item ng-repeat="item in events.items track by item.id"
                ng-class="{
                  'item-divider': item.isDivider,
                  'item-avatar': !item.isDivider,
                  'item-icon-right': !item.isDivider,
                  updated: !item.isDivider && !events.itemWasDeclined(item) && !item.invitation.event.latestMessage.wasRead,
                  'item-reordering': item.isReordering,
                  expanded: item.isExpanded
                }"
                ng-click="item.isDivider ? null : (item.wasJoined ? events.viewEvent(item) : events.toggleIsExpanded(item))">
        <!-- Divider -->
        <div ng-if="item.isDivider">
          <span class="divider-title">{{item.title}}</span>
          <div class="divider-line"></div>
        </div>

        <!-- Event -->
        <div ng-if="item.invitation.fromUser">
          <img class="item-image"
               ng-src="{{item.invitation.fromUser.getImageUrl()}}">
          <canvas class="chart chart-pie"
                  ng-repeat="color in ['#ffffff', 'rgb(217,217,217)']"
                  data="[
                    (100 - item.invitation.event.percentRemaining),
                    item.invitation.event.percentRemaining
                  ]"
                  ng-class="{
                    'white': (color==='#ffffff'),
                    'gray': (color==='rgb(217,217,217)')
                  }"
                  labels="['', '']"
                  colours="[color, 'rgba(0,0,0,0)']" width="53" height="53"
                  options="{segmentShowStroke: false, animation: false, responsive: false, showTooltips: false}"
                  ></canvas>
          <span class="updated-at" ng-if="item.invitation.event.latestMessage">{{item.invitation.event.latestMessage.createdAt | date:'shortTime' | lowercase}}</span>
          <span class="updated-at" ng-if="!item.invitation.event.latestMessage">{{item.invitation.createdAt | date:'shortTime' | lowercase}}</span>
          <h2>{{item.invitation.event.title}}</h2>
          <p ng-if="item.wasJoined">
            <span ng-if="item.invitation.event.latestMessage.text"
                  >{{item.invitation.event.latestMessage.text}}</span>
            <span ng-if="!item.invitation.event.latestMessage.text"
                  >Suggested by {{item.invitation.fromUser.name}}</span>
          </p>
          <p ng-if="!item.wasJoined">Suggested by {{item.invitation.fromUser.name}}</p>
          <i class="fa item-icon" ng-if="!item.wasJoined"
             ng-class="{'fa-chevron-down': !item.isExpanded, 'fa-chevron-up': item.isExpanded}"
             ></i>
          <i class="fa fa-chevron-right item-icon" ng-if="item.wasJoined"></i>
          <div ng-if="item.isExpanded" class="event-details">
            <div class="event-detail" ng-if="item.invitation.event.datetime">
              <i class="fa fa-calendar-o"></i>
              <div>
                <div>{{item.invitation.event.datetime | date:'EEEE, MMM d'}}</div>
                <div>{{item.invitation.event.datetime | date:'shortTime' | lowercase}}</div>
              </div>
            </div>
            <div class="event-detail" ng-if="item.invitation.event.place">
              <a href view-location location="item.invitation.event.place"
                 ><i class="fa fa-map-marker"
                    ></i> {{item.invitation.event.place.name}}</a>
            </div>
            <div class="event-detail" ng-if="item.invitation.event.comment">
              <i class="fa fa-comment-o"></i>
              <span>{{item.invitation.event.comment}}</span>
            </div>
            <div class="respond-buttons">
              <button class="respond"
                      ng-click="events.acceptInvitation(item, $event)"
                      ontouchstart
                      >Down</button>
              <button class="respond"
                      ng-click="events.maybeInvitation(item, $event)"
                      ontouchstart
                      >Maybe</button>
              <button class="respond"
                      ng-class="{'activated': events.itemWasDeclined(item)}"
                      ng-click="events.declineInvitation(item, $event)"
                      ontouchstart
                      >Can't</button>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar class="bar-light" keyboard-attach>
    <div id="new-event-details">
      <input id="suggestion" placeholder="Suggest something to do..."
             ng-model="events.newEvent.title">
      <div class="event-detail" ng-if="events.newEvent.hasDate">
        <i class="fa fa-calendar-o"></i>
        <div>
          <div>{{events.newEvent.datetime | date:'EEEE, MMM d'}}</div>
          <div>{{events.newEvent.datetime | date:'shortTime' | lowercase}}</div>
        </div>
      </div>
      <div class="event-detail" ng-if="events.newEvent.hasPlace">
        <i class="fa fa-map-marker"></i>
        <span>{{events.newEvent.place.name}}</span>
      </div>
      <div class="event-detail" ng-show="events.newEvent.hasComment">
        <i class="fa fa-comment-o"></i>
        <textarea id="comment" ng-model="events.newEvent.comment" msd-elastic
                  placeholder="Add a comment..." rows="1"></textarea>
      </div>
    </div>
    <div id="actions" class="footer-subheader">
      <a href="" ng-click="events.toggleHasDate()">
        <i class="fa fa-calendar-o"
           ng-class="{selected: events.newEvent.hasDate}"></i>
      </a>
      <a href="" ng-click="events.toggleHasPlace()">
        <i class="fa fa-map-marker"
           ng-class="{selected: events.newEvent.hasPlace}"></i>
      </a>
      <a href="" ng-click="events.toggleHasComment()">
        <i class="fa fa-comment-o"
           ng-class="{selected: events.newEvent.hasComment}"></i>
      </a>
      <button id="suggest" ng-click="events.inviteFriends()"
              ng-disabled="!events.newEvent.title">
        <i class="fa fa-arrow-right" ng-class="{enabled: events.newEvent.title}"
           ></i>
      </button>
    </div>
  </ion-footer-bar>
</ion-view>
