#events {
  #create-event-container {
    position: relative;

    > i {
      position: absolute;
      color: $brand-color;
      font-size: 1.6em;
      top: 23px;
      left: 20px;
    }
  }
  #create-event-prompt {
    background-color: #fff;
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 48px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  h2,
  #create-event-prompt {
    font-size: 20px;
  }
  h2 {
    font-weight: 400;
  }
  .item-divider {
    text-align: center;
    padding-left: 0;
    padding-right: 0 !important;
    padding-bottom: 0;
    min-height: 26px;
  }
  .divider-title {
    background-color: #fff;
    padding-right: 7px;
    padding-left: 7px;
  }
  .divider-line {
    border-top: 1px solid #eee;
    margin-top: -11px;
  }
  .saved-event {
    padding-left: 43px;
    padding-right: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .mark-interested {
    background: none;
    border: none;
    padding: 0;
    padding-top: 8px;
    left: 20px;
  }
  .calendar-star-selected,
  .calendar-star-default {
    padding-top: 23px;
    width: 23px;
  }
  .total-num-interested {
    position: absolute;
    top: 30px;
    left: -2px;
    font-size: 18px;
    font-weight: 700;
    width: 26px;
    text-align: center;
  }
  .mark-interested,
  .total-num-interested {
    color: #999;
  }
  .date-posted {
    color: #999;
    font-size: 14px;
    white-space: normal;
    line-height: 18px;
    margin-top: 3px;
  }
  .extra-details {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #eee;
  }
  .section {
    margin-right: 7px;
    font-weight: 700;
    font-size: 14px;
    color: #999;
  }
  .interested {
    text-decoration: underline;
  }
  .item-avatar {
    padding-left: 50px;
    padding-right: 0;
    padding-bottom: 0;
    border-bottom: none;
    min-height: 43px;
    margin-left: -11px;
    margin-right: -17px;
  }
  .item-image {
    max-width: 30px;
    max-height: 30px;
  }
  h3 {
    font-size: 14px;
    margin-top: 3px;
    font-weight: 400;
    padding-right: 100px;
  }
  .invite {
    margin-top: 4px;
    background-color: #fff;
    font-weight: 500;
    font-size: 14px;
    color: #999;
    border-color: #999;
    min-height: 0;
    height: 28px !important;
    line-height: 26px;
  }
  .invited {
    background-color: $brand-color;
    border-color: $brand-color;
    color: #fff;
  }
}
