#events {
  #spinner-container {
    text-align: center;
    margin-top: 25px;
  }
  h2 {
    color: $brand-color;
    font-size: 18px;
    padding-right: 10px;
  }
  .moving {
    .list,
    .item-divider,
    .item {
      position: absolute;
      width: 100%;
    }
  }
  .item-divider {
    img,
    h2,
    p,
    .updated-at,
    i {
      display: none;
    }
  }
  .item {
    padding-right: 8px;
    transition: top 0.5s ease-in-out, right 1s linear;

    .updated-at {
      font-size: 14px;
      float: right;
      padding-right: 23px;
      padding-top: 2px;
    }
    h2 {
      font-weight: 400px;

      &.expanded {
        white-space: normal;
      }
    }
    p,
    .updated-at {
      color: #777;
    }
    .item-icon {
      position: absolute;
      top: 21px;
      right: 7px;
      color: #ccc;
    }
    .respond-buttons {
      margin-top: 13px;
    }
  }
  .item.updated {
    h2 {
      font-weight: 500;
    }
    p {
      color: #111;
      font-weight: 500;
    }
    .updated-at {
      color: #111;
    }
  }
  .event-detail {
    display: flex;
    margin-top: 5px;
    color: $brand-color;
    font-size: 18px;

    i {
      width: 15px;
      margin-right: 15px;
      font-size: 1.2em;
      color: $brand-color;
    }
    .fa-calendar-o {
      margin-top: 10px;
    }
    .fa-map-marker {
      width: 12px;
      margin-left: 3px;
      margin-top: 2px;
    }
    .fa-comment-o {
      margin-top: 1px;
    }
    a {
      color: $brand-color;
      text-decoration: none;
      font-weight: bold;
    }
  }
  .ng-leave-active {
    display: none; // TODO: Figure out why the old events stick around.
  }
  ion-footer-bar {
    height: auto;
    display: block;
    padding: 0;

    .event-detail {
      margin-left: $new-event-margin-left;
    }
    a {
      color: #fff;
      padding-left: 15px;
      padding-right: 15px;
    }
    a,
    button {
      padding-top: 15px;
      padding-bottom: 12px;
      padding-left: 13px;
      padding-right: 13px;
    }
    i {
      font-size: 1.5em;
      line-height: .8em;
      vertical-align: -10%;
    }
  }
  #new-event-details {
    padding-left: 13px;
    padding-right: 13px;

    .fa-comment-o {
      margin-top: 4px;
    }
  }
  #actions {
    margin-top: 15px;
    margin-bottom: 7px;

    i { 
      color: #aaa;
    }
    .selected {
      color: $brand-color;
    }
    .enabled {
      color: $link-color !important;
      /*color: #357ded !important; *?
      /*color: #232ed1 !important; */
      /*color: #7678ed !important; */
      /*color: $brand-color !important;*/
    }
  }
  input,
  textarea {
    border: none;    
    width: 100%;
    color: $brand-color;
  }
  #suggestion {
    font-size: 18px;
    padding-left: $new-event-margin-left;
  }
  #comment {
    font-size: 16px;
    resize: none;
    line-height: 20px;
    max-height: 64px;
  }
  #suggest {
    position: absolute;
    right: 0;
    bottom: 0;
    border: none;
    background-color: #fff;

    & > i {
      color: #ccc !important;
    }
  }
}
