<ion-view id="events"
          hide-back-button="true"
          can-swipe-back="false">
  <ion-nav-title>
    <span id="logo">Rallytap</span>
  </ion-nav-title>
  <ion-nav-buttons side="left">
    <span class="points-nav">{{events.currentUser.points | number:0}}</span>
  </ion-nav-buttons>
  <ion-content>
    <div class="spinner-container" ng-if="events.isLoading">
      <ion-spinner icon="bubbles"></ion-spinner>
    </div>
    <ion-refresher pulling-text="Pull to refresh..."
                   on-refresh="events.refresh()"
                   spinner="bubbles">
    </ion-refresher>
    <div id="create-event-container">
      <i class="fa fa-calendar-plus-o" ng-click="events.createEvent()"></i>
      <input id="create-event-prompt"
             ng-mousedown="events.createEvent()"
             readonly
             placeholder="What sounds fun?">
    </div>
    <ion-list>
      <ion-item ng-repeat="item in events.items"
                ng-class="{'item-divider': item.isDivider}">
        <!-- Divider -->
        <div ng-if="item.isDivider">
          <span class="divider-title">{{item.title}}</span>
          <div class="divider-line"></div>
        </div>

        <!-- Event -->
        <event-item ng-if="item.savedEvent"
                    saved-event="item.savedEvent"
                    comments-count="item.commentsCount"/>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
