<ion-view id="request-location" class="onboard-view request-view"
          hide-nav-bar="true" can-swipe-back="false">
  <div id="explanation" class="explanation">
    Down uses your location while you use the app to make it easy to do fun stuff with your nearby friends.
  </div>
  <div class="permission-denied" ng-if="requestLocation.locationDenied">
    <div class="message">
      It looks like you didn't give Down permission to use your location :(
    </div>
    <div class="message">
      You can allow Down to use your location from your settings app:
    </div>
    <div class="message instructions">
      Settings <i class="fa fa-arrow-right"></i> Down. <i class="fa fa-arrow-right"></i> Location <i class="fa fa-arrow-right"></i>
    </div>
  </div>
  <div id="button-container">
    <button class="button" ng-click="requestLocation.enableLocation()">
      Enable Location Services
    </button>
  </div>
</ion-view>
