#request-location {
  background-color: $brand-color;

  .permission-denied {
    padding-top: 24px;
  }
  .message {
    color: #fff;
    max-width: 250px;
    padding-bottom: 10px;
    margin-bottom: 14px;
  }
}
