#facebook-sync {
  #explanation {
    margin: 66px auto 25px;
  }
  #button-container {
    text-align: center;
  }
  .button {
    border: none;
    color: $brand-color;    
  }
  #error {
    margin: 15px auto 0;
  }
}
