#login {
  background-color: $brand-color;

  h1 {
    font-family: 'Carter One', 'Helvetica Neue', sans-serif;
    color: #fff;
    text-align: center;
    font-size: 61px;
    margin-top: 50px;
    margin-bottom: 28px;
  }
  #phone {
    padding-right: 48px; // To keep things centered with the 48px padding-left
    border-radius: 0;
    height: 45px;
  }
  ::-webkit-input-placeholder {
    padding-top: 6px;
  }
  ::input-placeholder {
    padding-top: 6px;
  }
  .intl-tel-input {
    width: 100%;
  }
}

.platform-ios {
  #login {
    #phone {
      padding-top: 8px;
    }
  }
}
