#login {
  h1 {
    font-family: 'Viga', 'Helvetica Neue', sans-serif;
    color: #fff;
    text-align: center;
    font-size: 76px;
  }
  #phone {
    padding-right: 48px; // To keep things centered with the 48px padding-left
    height: 47px;
  }
  ::-webkit-input-placeholder {
    text-align: center;
    padding-top: 5px;
  }
  :-moz-placeholder {
    text-align: center;
    padding-top: 5px;
  }
  ::-moz-placeholder {
    text-align: center;
    padding-top: 5px;
  }
  :-ms-input-placeholder {
    text-align: center;
    padding-top: 5px;
  }
  .intl-tel-input {
    width: 100%;
  }
  .iti-flag {
    background-image: url('../images/flags.png');
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2 / 1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
    .iti-flag {
      background-image: url('../images/flags@2x.png');
    }
  }
}

body {
  background-color: $brand-color;
}
