<ion-view id="login" class="onboard-view" hide-nav-bar="true"
          can-swipe-back="false">
  <h1>Down.</h1>
  <form role="form" novalidate name="loginForm" >
    <input id="phone" intl-phone ng-model="login.phone" name="phone" required
           ng-class="{'has-error': loginForm.$submitted && loginForm.phone.$invalid}">
    <div class="form-errors" ng-if="loginForm.$submitted">
      <div class="form-error" ng-if="loginForm.phone.$error.required">
        Please enter your phone number.
      </div>
      <div class="form-error"
           ng-if="loginForm.phone.$error.validNumber && !loginForm.phone.$error.required">
        That phone number is invalid.
      </div>
    </div>
    <button type="submit" ng-click="login.login()" ontouchstart
            class="button button-full button-positive">Log In</button>
  </form>
</ion-view>
