#login {
  background-color: $brand-color;

  h1 {
    font-family: 'Viga', 'Helvetica Neue', sans-serif;
    color: #fff;
    text-align: center;
    font-size: 76px;
    margin-top: 50px;
  }
  #phone {
    padding-right: 48px; // To keep things centered with the 48px padding-left
    border-radius: 0;
    height: 45px;
  }
  ::-webkit-input-placeholder {
    padding-top: 6px;
  }
  ::input-placeholder {
    padding-top: 6px;
  }
  .intl-tel-input {
    width: 100%;
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2 / 1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
    .iti-flag {
      background-image: url('../images/flags@2x.png');
    }
  }
}

.platform-ios {
  #login {
    #phone {
      padding-top: 8px;
    }
  }
}
