<ion-modal-view id="guest-list">
  <ion-header-bar>
    <button class="button button-icon icon" ng-click="guestList.hide()" ontouchstart
            ><i class="fa fa-close"></i></button>
    <h1 class="title">Who's Down</h1>
  </ion-header-bar>
  <ion-content>
    <ion-list class="list-avatar">
      <ion-item collection-repeat="item in guestList.items track by item.id"
                ng-class="{'item-divider': item.isDivider, 'item-avatar': !item.isDivider, 'item-icon-right': !item.isDivider}"
                item-height="item.isDivider ? '36px' : '79px'"
                item-width="100%">
        <!-- Divider -->
        <div ng-if="item.isDivider">
          {{item.title}}
        </div>

        <!-- User -->
        <div ng-if="!item.isDivider">
          <img class="item-image" ng-src="{{item.user.getImageUrl()}}">
          <h2>{{item.user.name}}</h2>
          <p>{{item.user.username}}</p>
          <friendship-button user="item.user"
                             ng-if="item.user.id !== guestList.currentUser.id">
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>
