#friendship {
  #match-header {
    background-color: $brand-color;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    position: absolute;
    top: $bar-height + $ios-statusbar-height;
    width: 100%;
    z-index: 1;
    text-align: center;
    color: #fff;

    & + ion-content {
      top: $bar-height + $ios-statusbar-height + 30px;
      // 30px is the match header height
    }
  }
  .respond-section {
    white-space: normal;
    border-top: 1px solid #ccc;
    margin-top: 10px;
    padding-top: 10px;
    text-align: center;
  }
  .respond {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    color: $brand-color;
    font-weight: 600;
    padding-top: 1px;
    padding-bottom: 2px;

    &:disabled {
      color: #fff !important;
      background-color: transparent;
      border: 1px solid #fff;
    }
  }
  .invite-action {
    background-color: $brand-color;
    border-color: $brand-color;
    font-weight: 600;
    color: #fff;

    &::before {
      border-right-color: $brand-color;
    }
  }
  .mine {
    .invite-action {
      &::before {
        border-left-color: $brand-color;
        border-right-color: transparent;
      }
    }
  }
  .was-joined {
    text-decoration: underline;
  }
  ion-spinner {
    stroke: #fff;
    fill: #fff;
  }
}
.platform-ios {
  #friendship {
    .respond {
      padding-top: 3px;
    }
  }
}
