#friendship {
  .respond-section {
    white-space: normal;
    border-top: 1px solid #ccc;
    margin-top: 10px;
    padding-top: 10px;
  }
  .mine {
    .respond-section {
      border-top-color: #fff;
      text-align: center;
    }
    .respond:disabled {
      background-color: #fff !important;
      color: #08f !important;
    }
    ion-spinner {
      stroke: #fff;
      fill: #fff;
    }
    .invite-action {
      font-weight: 700;
    }
  }
  .respond {
    background-color: transparent;
    border: none;
    color: #08f;
    font-weight: 700;

    &:disabled {
      color: #fff !important;
      background-color: #08f;
      border-radius: 4px;
    }
  }
//  .invite-action {
//    background-color: $brand-color;
//    border-color: $brand-color;
//    color: //fff;
//
//    &::before {
//      border-right-color: $brand-color;
//    }
//  }
//  .mine {
//    .invite-action {
//      &::before {
//        border-left-color: $brand-color;
//        border-right-color: transparent;
//      }
//    }
//  }
}
