<a ng-click="inviteButton.inviteUser(); $event.stopPropagation()"
   on-tap
   ng-if="!inviteButton.hasBeenInvited() && !inviteButton.hasSentInvite() && !inviteButton.event.isExpired()"
   class="button invite"
   ng-class="{
     'invited': inviteButton.hasBeenInvited()
   }">
  <span ng-if="!inviteButton.isLoading">
    Down?
  </span>
  <span ng-if="inviteButton.isLoading">
    <ion-spinner icon="bubbles"></ion-spinner>
  </span>
</a>
<button class="button button-clear invite sent"
        ng-if="inviteButton.hasSentInvite() && !inviteButton.event.isExpired()"
        disabled>
  Message sent
</button>
<button class="button button-clear invite sent"
        ng-if="inviteButton.hasBeenInvited() && !inviteButton.event.isExpired()"
        disabled>
  Chatting
</button>
