<ion-view id="my-events"
          view-title="I'm interested in...">
  <ion-nav-buttons side="left">
    <span class="points-nav">{{myEvents.currentUser.points | number:0}}</span>
  </ion-nav-buttons>
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh..."
                   on-refresh="myEvents.refresh()"
                   spinner="bubbles">
    </ion-refresher>
    <div class="spinner-container" ng-if="myEvents.isLoading">
      <ion-spinner icon="bubbles"></ion-spinner>
    </div>

    <!-- No saved events placeholder -->
    <div class="placeholder"
         ng-if="myEvents.items.length === 0 && !myEvents.isLoading">
      <p>You aren't interested in doing anything... yet!</p>
      <p>Tap the <i id="example-calendar-star" class="calendar-star-selected"></i> next to a post to tell your friends you're interested.</p>
    </div>

    <ion-list ng-if="myEvents.items.length > 0">
      <ion-item ng-repeat="item in myEvents.items">
        <event-item saved-event="item.savedEvent"
                    comments-count="item.commentsCount"/>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
