#verify-phone {
  background-color: $brand-color;

  .explanation {
    height: 40px;
    margin: 96px auto 15px;
  }
  .item {
    padding-left: 0;
  }
  input {
    padding-right: 0;
    line-height: 34px;
  }
}

.platform-ios {
  input {
    padding-top: 7px;
  }
}
