<ion-view id="verify-phone" class="onboard-view" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button class="button button-clear icon" ng-click="$ionicGoBack()"
            ontouchstart
            >Logout</button>
  </ion-nav-buttons>
  <div class="explanation">
    Please enter the verification code you get by text message.
  </div>
  <div class="list">
    <form name="verifyPhoneForm" novalidate role="form">
      <label class="item item-input">
        <input ng-model="verifyPhone.code" name="code" minlength="4"
               maxlength="4" placeholder="• • • •" required
               type="tel"
               ng-class="{'has-error': verifyPhoneForm.$submitted && verifyPhoneForm.phone.$invalid }">
      </label>
      <div class="form-errors" ng-if="verifyPhoneForm.$submitted">
        <div class="form-error" ng-if="verifyPhoneForm.code.$error.required">
          Please enter your verification code.
        </div>
        <div class="form-error" ng-if="verifyPhoneForm.code.$error.minlength">
          Your verification code should be 4 numbers.
        </div>
        <div class="form-error" ng-if="verifyPhone.error">
          {{verifyPhone.error}}
        </div>
      </div>
      <button class="button button-full button-positive"
              ng-click="verifyPhone.authenticate()" type="submit"
              >Submit</button>
    </form>
  </div>
</ion-view>
