<ion-view id="invite-friends" view-title="Send To...">
  <ion-nav-buttons side="right">
    <button class="button button-clear icon" ng-click="inviteFriends.addFriends()"
            ontouchstart
            ><i class="fa fa-plus fa-lg"></i></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
     <ion-item class="item-icon-right last"
               ng-click="inviteFriends.toggleAllNearbyFriends()"
               ng-class="{selected: inviteFriends.isAllNearbyFriendsSelected}">
       <h2>All Nearby Friends</h2>
       <i class="icon fa" id="all-friends-icon"
          ng-class="{'fa-square-o': !inviteFriends.isAllNearbyFriendsSelected, 'fa-check-square': inviteFriends.isAllNearbyFriendsSelected}"
          ></i>
     </ion-item>
     <ion-item collection-repeat="item in inviteFriends.items"
               ng-click="inviteFriends.toggleIsSelected(item.friend)"
               ng-class="{selected: item.friend.isSelected, 'item-divider': item.isDivider, 'item-icon-right': !item.isDivider, 'last': $last}"
               item-height="item.isDivider ? '35px' : '43px'">
       <div class="divider" ng-if="item.isDivider">
         {{item.title}}
       </div>
       <div class="friend" ng-if="item.friend">
         <h2>{{item.friend.name}}</h2>
         <i class="icon fa"
            ng-class="{'fa-square-o': !item.friend.isSelected, 'fa-check-square': item.friend.isSelected}"
            ></i>
       </div>
     </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar ng-class="{hidden: !inviteFriends.selectedFriends.length}">
    <div id="selected-friends">
      <span ng-repeat="friend in inviteFriends.selectedFriends"><span ng-if="!$first">, </span>{{friend.name}}</span>
    </div>
    <div class="buttons">
      <button class="button button-icon icon"
              ng-click="inviteFriends.sendInvitations()"
        ><i class="fa fa-arrow-right fa-lg"></i></button>
    </div>
  </ion-footer-bar>
</ion-view>
