<ion-view id="invite-friends" view-title="Send To...">
  <ion-nav-buttons side="right">
    <button class="button button-clear icon"
            ng-click="inviteFriends.addFriends()"
            ontouchstart
            ><i class="fa fa-plus fa-lg"></i></button>
  </ion-nav-buttons>
  <ion-content ng-class="{'hasnt-selected-friends': !inviteFriends.selectedFriends.length}">
    <div class="placeholder" ng-if="inviteFriends.error">
      <div>Oops.. Looks like an error occurred. Please try again later.</div>
    </div>
    <div class="placeholder"
         ng-if="inviteFriends.items.length === 0 &&
                inviteFriends.error === false">
      <div>You don't have any friends on Down, yet...</div>
      <div>
        <button id="add-friends"
                class="button"
                ng-click="inviteFriends.addFriends()"
                ontouchstart>Add Friends</button>
      </div>
    </div>
    <div class="search-bar"
         ng-if="inviteFriends.items.length > 0 &&
                inviteFriends.error === false">
      <i class="fa fa-search"></i>
      <input ng-model="inviteFriends.query" placeholder="Search">
      <i class="fa fa-times" ng-click="inviteFriends.query = null"
         ng-if="inviteFriends.query"></i>
    </div>
    <!--
    <div class="no-results"
         ng-if="inviteFriends.items.length === 0 && inviteFriends.error === false">
      No results.
    </div>
    -->
    <ion-list ng-if="inviteFriends.items.length > 0 &&
                     inviteFriends.error === false">
     <ion-item class="item-icon-right"
               ng-click="inviteFriends.toggleAllNearbyFriends()"
               ng-class="{selected: inviteFriends.isAllNearbyFriendsSelected}"
               ng-if="!inviteFriends.query">
       <h2>All Nearby Friends</h2>
       <i class="icon fa" id="all-friends-icon"
          ng-class="{'fa-square-o': !inviteFriends.isAllNearbyFriendsSelected, 'fa-check-square': inviteFriends.isAllNearbyFriendsSelected}"
          ></i>
     </ion-item>
     <ion-item collection-repeat="item in inviteFriends.items | filter:inviteFriends.search track by item.id"
               item-width="100%"
               ng-click="inviteFriends.toggleSelected(item.friend)"
               ng-class="{
                 selected: item.friend && inviteFriends.getWasSelected(item.friend),
                 'item-divider': item.isDivider,
                 'item-icon-right': !item.isDivider,
                 disabled: item.friend && inviteFriends.getWasInvited(item.friend)
               }"
               item-height="item.isDivider ? '36px' : '43px'">
       <div class="divider" ng-if="item.isDivider">
         {{item.title}}
       </div>
       <div class="friend" ng-if="item.friend">
         <h2>{{item.friend.name}}</h2>
         <i class="icon fa"
            ng-class="{
              'fa-square-o': !inviteFriends.getWasSelected(item.friend) && !inviteFriends.getWasInvited(item.friend),
              'fa-check-square': inviteFriends.getWasSelected(item.friend) || inviteFriends.getWasInvited(item.friend),
              disabled: inviteFriends.getWasInvited(item.friend)
            }"
            ></i>
       </div>
     </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar ng-class="{hidden: !inviteFriends.selectedFriends.length}">
    <div id="selected-friends">
      <span ng-repeat="friend in inviteFriends.selectedFriends"><span ng-if="!$first">, </span>{{friend.name}}</span>
    </div>
    <div class="buttons">
      <button class="button button-icon icon"
              ng-click="inviteFriends.sendInvitations()"
        ><i class="fa fa-arrow-right fa-lg"></i></button>
    </div>
  </ion-footer-bar>
</ion-view>
