#invite-friends {
  .item {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
  }
  .item.disabled {
    background-color: rgb(243, 240, 240);
  }
  h2 {
    color: #333;
  }
  .icon {
    color: #ccc;    
  }
  .fa-check-square {
    color: #6a38ab;
  }
  .fa-check-square.disabled {
    color: rgba(106, 56, 171, 0.33)
  }
  ion-footer-bar {
    &.hidden {
      bottom: -44px;
    }

    .buttons {
      position: absolute;
      right: 5px;
    }
  }
  .selected {
    background-color: #eee;

    h2 {
      font-weight: 500;
    }
  }
  #all-friends-icon {
    right: 13px; // TODO: Find out why this is necessary, and remove it.
  }
  #selected-friends {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding-top: 7px;
    padding-left: 11px;
    overflow-x: auto;
    white-space: nowrap;
    max-width: 85%;
  }
  #add-friends {
    background-color: $brand-color;
    border-color: $brand-color;
    color: #fff;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .hasnt-selected-friends {
    bottom: 0;
  }
}
