#set-username {
  background-color: $brand-color;

  #explanation {
    height: 40px;
    margin: 82px auto 0;
  }
  .explanation {
    margin: auto;
  }
  input {
    padding-top: 2px;
  }
  ::-webkit-input-placeholder {
    padding-top: 2px;
  }
  ::input-placeholder {
    padding-top: 2px;
  }
  #terms {
    color: #fff;
  }
}
